<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>New World Photo</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="headline"><h1>New World Photo</h1></div>
<div id="header" th:replace="fragments/headerHome :: headerHome"></div>
<div id="text"><p>New World Photo jest organizacją działającą na terenie Nowego Orleanu, zrzeszającą tzw. Wolnych Poszukiwaczy, czyli niezależnych fotografów i fotografików, których miłość do 
aparatu jest silniejsza niż rządza pieniędzy czy sławy. Dążymy do odnalezienia prawdy i ukrytych tajemnic świata poprzez uwiecznienia na kliszy tego, co nieuchwycalne. </p></div>
</body>
</html>