<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>New World Photo</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="headline"><h1>New World Photo</h1></div>
<div id="header" th:replace="fragments/header :: header"></div>
<div id="text"><p>Członkowie New Wordl Photo nie chcą być znani, jednak dziekujemy wszystkim, którzy chcieliby dowiedzieć się, kim jesteśmy. Chwała Sztuce!</p>
<p>Jeżeli jesteś zainteresowany członkostwem, zostaw swój adres email, odezwiemy się do Ciebie.
</p></div>
<form method="post">
<label for="email">Email:</label><input type="email" id="email" name="email"/><br/>
<input type="submit"/>
</form>
</body>
</html>