<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>old cases</title>
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../script/old-cases.js"></script>
<div id="headline"><h3>old cases</h3></div>
<div id="old-cases"><a href="/oldCases">Stare sprawy</a></div>
<div id="future-cases"><a href="">Przyszłe sprawy</a></div>
<div id="plan"><a href="">Plan</a></div>
</body>
</html>