<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>stare sprawy</title>
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../script/old-cases.js"></script>
<div id="headline"><h3>old cases</h3></div>
<div><a href="/files">../</a></div>
<div><a href="/case?name=MerryLongherb">Merry Longherb</a></div>
<div><a href="/case?name=CindyKidd">Cindy Kidd</a></div>
<div><a href="/case?name=JaneHostling">Cephalus Vasilev</a></div>
<input type="hidden" id="refresh" value="no"/>
</body>
</html>