<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>plan</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/plan.css" th:href="@{/css/plan.css}" />
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../../script/plan.js"></script>
<div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome, JM<b></b></p>
        <div style="clear:both"></div>
    </div>
<textarea id="chatbox"></textarea>
<div id="message">
	<textarea rows="1" cols="50" id="msg"></textarea>
	<button id="submitmsg">Send</button>
</div>

</div>
</body>
</html>