<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>files</title>
</head>
<body>
<div id="data">
<div class="single-data"><label>Imię: </label><label th:text="${name}"></label></div>
<div><label>Płeć: </label><label th:text="${sex}"></label></div>
<div><label>Wiek: </label><label th:text="${age}"></label></div>
</div>
<div id="place"><label>Miejsce: </label><label th:text="${place}"></label></div></body>
<div id="when"><label>Kiedy: </label><label th:text="${when}"></label></div>
<div id="why"><label th:text="${why}"></label></div>
</html>